<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <title>Medium Crawler</title>
</head>
<body>
    <header>
        <div class="part_1">
            <h2>Medium Crawler</h2>
        </div>
        <div class="part_2" >
            <input type="text" name="tag" id="search_tag">
            <button type="button" id="crawl_button">Crawl</button>
        </div>
    </header>
    <section class="data_container">
        <div class="tags" id="related_tags">

        </div>
        <div class="cards_container" id="cards_container">

        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect();
        const button = document.getElementById('crawl_button');
        const input = document.getElementById('search_tag');
        input.addEventListener('keyup',function(event){
            if(event.keyCode==13){
                event.preventDefault();
                button.click();
            }
        });
        button.addEventListener('click',()=>{
            console.log("button is pressed");
            socket.emit("sendtag",document.getElementById('search_tag').value);
        });
        socket.on("sendrelatedpost", (post)=> {
            document.getElementById('related_tags').innerHTML = "";
            document.getElementById('cards_container').innerHTML="";
            for(var i=0;i<post.relatedlength;i++){
                var h3 = document.createElement("h3");
                var ids = "reltags"+i;
                h3.id=ids;
                h3.addEventListener('click',(e)=> {
                    var k = e.target.innerHTML.slice(1);
                    document.getElementById('search_tag').value=k;
                    button.click();
                    document.getElementById('related_tags')="";
                    document.getElementById('cards_container')="";
                })
                h3.innerHTML= "#" + post.related[i];
                document.getElementById('related_tags').appendChild(h3);
            }

            for(var l=0;l<post.postlength;l++){
                var div= document.createElement("div");
                div.className = "card";
                div.id="cards" + l;
                div.innerHTML="<h6>Pending...<h6>";
                document.getElementById('cards_container').appendChild(div);
            }
        });

        socket.on("startedfetching", (data)=>{
            var id = "cards"+data.idno;
            document.getElementById(id).innerHTML="<h6>" + data.msg + "<h6>";
        });

        var p=0;
        socket.on("senddata", (data) => {
            var id = "cards" + data.obj.id;
            
            var str="";
            var particularcard = document.getElementById(id);
            var ul=document.createElement("UL");
            for(var k=0;k<data.obj.postrelatedtags.length;k++){
                
                var li=document.createElement("li");
                var id3="posttag"+p;
                li.id=id3;
                li.innerHTML=data.obj.postrelatedtags[k];
                li.addEventListener("click",(e)=>{
                    
                    document.getElementById('search_tag').value=e.target.innerHTML;
                    button.click();
                    document.getElementById('related_tags').innerHTML = "";
                    document.getElementById('cards_container').innerHTML = "";
                })
                ul.appendChild(li);
                ul.className="reltags";
               
                p++;
            }
            
            particularcard.innerHTML = "<div class='postpreview'><figure><img src =" + data.obj.imageurl + "></figure ><div class='details'><h2>" + data.obj.titlename + "</h2><h5>Author : " + data.obj.username + "</h5><h5>Reading Time : " + data.obj.readingtime + "min Read</h5><h5>Time to crawl : " + data.obj.crawltime + "ms</h5><a href='/getpost/"+data.obj.postid+"/"+data.obj.username+"'><i class='flex fa fa-eye'><h5> Click to read post</h5></i></a></div></div >";
                var h5=document.createElement('h5');
                h5.className="classh5";
                h5.innerHTML="Related Tags :";
                particularcard.appendChild(h5);
                particularcard.appendChild(ul);
        });
    </script>
</body>
</html>